<template>
  <div>
    <b-btn class="btn-createPost" v-b-modal.modal1 variant="outline-success">CREATE POST</b-btn>


    <b-modal id="modal1" title="Create Post" hide-footer="true" ref="myModalRef">
        <b-form @submit="onSubmit" @reset="onReset" method="post" enctype="multipart/form-data" id="postForm">
          <b-form-input v-model="form.text1"
                        type="text"
                        placeholder="Enter post title"
                        required
                        id="post_title"
                        name="post_title">

          </b-form-input>
          <br>
          <b-form-textarea id="textarea1"
                           v-model="form.text"
                           placeholder="Enter something"
                           :rows="3"
                           :max-rows="10"
                           name="post_text"
                           required>
          </b-form-textarea>
          <b-form-file v-model="form.upfile" class="mt-3" plain id="upfile" ref="fileinput" name="upfile"></b-form-file>
          <br>
          <br>
          <b-button type="submit" variant="primary">Submit</b-button>
          <b-button type="reset" variant="danger">Reset</b-button>
        </b-form>
    </b-modal>
  </div>

</template>

<script>
  var $ = require ("jquery");
  export default {
    data () {
      return {
        form: {
          text1: '',
          text: '',
          upfile: null,
        }
      }
    },
    methods: {
      onSubmit (evt) {

        evt.preventDefault();
        //Get Form
        var form = $('#postForm')[0];

        //Create an FormData object
        var data = new FormData(form);

        $.ajax({
          type: "POST",
          enctype: 'multipart/form-data',
          url: "/api/post",
          dataType: "json",
          data: data,
          processData: false,
          contentType: false,
          cache: false,
          timeout: 600000,
          success: function () {
            location.reload();
          },
          error: function () {
            alert("Error");
          }
        });

      },
      onReset (evt) {
        evt.preventDefault();
        /* Reset our form values */
        this.form.text1 = '';
        this.form.text = '';
        this.$refs.fileinput.reset();
        /* Trick to reset/clear native browser form validation state */
      }
    }
  }
</script>

<style scoped>
.btn-createPost {
  width: 100%;
  text-align: center;
}
  .uploadFile {
    width: 100%;
  }
</style>
