<template>
  <div>
  <b-button v-b-modal.myModal>Edit profile</b-button>

  <b-modal class="EditModal" id="myModal" title="Edit Profile" hide-footer="true" ref="myModalRefEditProfile" centered>
    <b-form @submit="onSubmit" @reset="onReset" method="post" enctype="multipart/form-data" id="editProfileForm">
      <b-form-input v-model="user.first_name"
                    type="text"
                    placeholder="Enter new name"
                    id="first_name"
                    name="first_name">

      </b-form-input>
      <br>
      <b-form-input v-model="user.last_name"
                    type="text"
                    placeholder="Enter new surname"
                    id="last_name"
                    name="last_name">
      </b-form-input>
      <br>
      <b-form-input v-model="user.phone"
                    type="phone"
                    placeholder="Enter new phone number"
                    id="phone"
                    name="phone">
      </b-form-input>
      <br>
      <b-form-input v-model="user.password"
                    type="password"
                    placeholder="Enter new password"
                    id="password"
                    name="password">
      </b-form-input>
      <br>
      <b-form-input v-model="confirmPass"
                    type="password"
                    placeholder="Confirm new password"
                    id="confirmPass"
                    name="confirmPass">
      </b-form-input>
      <br>
      <div class="alert alert-danger" role="alert" v-if="error">
        <strong>{{message}}</strong>
      </div>
      <br>
      <br>
      <b-button type="submit" variant="primary">Submit</b-button>
      <b-button type="reset" variant="danger">Reset</b-button>
    </b-form>
  </b-modal>
  </div>
</template>

<script>
  var $ = require ("jquery");
  export default {
    data () {
      return {
        user: {
          first_name: '',
          last_name: '',
          phone: '',
          password: '',
        },
        confirmPass: '',
        message: '',
        error: false,
        success: false
      }
    },
    methods: {
      onSubmit (evt) {
        evt.preventDefault();

        //Create JSON User DTO
        var data = JSON.stringify(this.user);

        this.error = false;
        this.success = false;

        if (this.user.first_name != '') {
          if (!(/^[a-zA-Z]{1,50}$/.test(this.user.first_name)) && !(/^[а-яА-Я]{1,50}$/.test(this.user.first_name))) {
            this.error = true;
            this.message = "Invalid name!";
            return;
          }
        }
        if (this.user.last_name != '') {
          if (!(/^[a-zA-Z]{1,50}$/.test(this.user.last_name)) && !(/^[а-яА-Я]{1,50}$/.test(this.user.last_name))) {
            this.error = true;
            this.message = "Invalid surname!";
            return;
          }
        }
        if (this.user.password != '') {
          if (this.user.password !== this.confirmPass || this.user.password.length < 6) {
            this.error = true;
            this.message = "Password are different or less than 6 characters!";
            return;
          }
        }
        if (this.user.phone != '') {
          if (!(/^[+][0-9]{12}$/.test(this.user.phone))) {
            this.error = true;
            this.message = "Invalid phone number!";
            return;
          }
        }

        $.ajax({
          type: "POST",
          enctype: 'json',
          url: "/api/profile",
          dataType: "json",
          data: data,
          timeout: 600000,
          success: function () {
            location.reload();
          },
          error: function () {
            alert("Error");
          }
        });

      },
      onReset (evt) {
        evt.preventDefault();
        /* Reset our form values */
        this.user.first_name = '';
        this.user.last_name = '';
        this.user.phone = '';
        this.user.password = '';
        this.confirmPass = '';
        this.error = false;
        this.message = '';
        /* Trick to reset/clear native browser form validation state */
      }
    }
  }
</script>

<style scoped>
  .btn {
    float: right;
    font-size: 14px;
    border: none;
    background: rgb(184, 56, 56);
    color: white;
  }
</style>
